* {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1024px){
    body {
        width: 1024px;
    }
}
a {
    color: #37a;
    font-size: 13px;
    text-decoration: none;
}
input { 
	outline:none;  
	border:none;
}
li {
    list-style: none;
}